<mat-toolbar color="primary">
    <h2>QuickShop</h2>
  <button mat-button routerLink='/'>Home</button>
  <button mat-button routerLink='/contact'>Contact</button>
  <div class="dropdown">
   <button mat-button routerLink='/adminManagement'>Shopping
   <i class="fas fa-chevron-down"></i>
  </button>
  <div class="dropdown-content">
    <a href="#">User</a>
    <a routerLink='/user/products'>Shop</a>
    
  </div>
  </div>
  <p>Username<img width="40px" height="40px" style="margin: auto; border-radius: 50%;" src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/user-512.png"/></p>


    <button mat-button routerLink='/'>Logout</button>
  
  </mat-toolbar>


  <router-outlet></router-outlet>


