<table class="table table-hover">  
    <thead>  
    <tr>  
        <td>Product Image</td>  
        <td>Product Name</td>  
        <td>Product Description</td>  
        <td>Product Category</td>  
        <td>Product Units in Stock</td>  
        <td>Product Price</td>  
        <td colspan="2">Actions</td>  
    </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let product of products">  
            <td><img src="{{ product.product_image_mine }}"/></td>  
            <td>{{ product.product_name }}</td>  
            <td>{{ product.product_description }}</td> 
            <td>{{ product.product_category }}</td>
            <td>{{ product.product_units_in_stock }}</td>     
            <td>{{ product.product_price }}</td>  
            <td><a  class="btn btn-warning">Edit</a></td>  
            <td><a (click)="deleteProduct(product.product_id)"class="btn btn-danger">Delete</a></td>  
        </tr>  
    </tbody>  
  </table>  
