<div class="card">
    <div class="card-body">
        <form [formGroup]="editproductForm" (ngSubmit)="onSubmit()">  
            <h2>Update Product</h2>

            <div class="form-group">  
                <label for="product_name"class="col-md-4"> Product Name</label>  
                <input type="text" class="form-control" formControlName="product_name" placeholder="Enter Product Name" [(ngModel)]="product.product_name" #product_name />    
              </div>  
              <div *ngIf="editproductForm.controls['product_name'].invalid && (editproductForm.controls['product_name'].dirty || editproductForm.controls['product_name'].touched)"  class="alert-danger">
                <div *ngIf="editproductForm.controls['product_name'].errors.required">  
                  Product Name is required.  
                </div>  
              </div>

              <div class="form-group">  
                <label for="product_description"class="col-md-4"> Product Description</label>  
                <textarea rows="10" cols="40" class="form-control" formControlName="product_description" placeholder="Enter Product Description" [(ngModel)]="product.product_description"  #product_description >  
                </textarea> 
              </div>  
              <div *ngIf="editproductForm.controls['product_description'].invalid && (editproductForm.controls['product_description'].dirty || editproductForm.controls['product_description'].touched)"  class="alert-danger">
                <div *ngIf="editproductForm.controls['product_description'].errors.required">  
                  Product Description is required.  
                </div>  
                 </div>

                   
                    <label for="product_category"class="col-md-4"> Product Catagory</label>  

                    <input type="radio" formControlName="product_category" (change)="ChangeCategory($event)" [(ngModel)]="product.product_category"  value="Chair" #product_category  />  
                    <label for="chair">Chair</label><br>
                    <input type="radio" formControlName="product_category" (change)="ChangeCategory($event)" [(ngModel)]="product.product_category"  value="Bed" #product_category />   
                    <label for="bed">Bed</label><br>
                    <input type="radio" formControlName="product_category"(change)="ChangeCategory($event)" [(ngModel)]="product.product_category" value="Sofa" #product_category />   
                    <label for="sofa">Sofa</label><br>
                    
                    
                    
                   
                  <div *ngIf="editproductForm.controls['product_category'].invalid && (editproductForm.controls['product_category'].dirty || editproductForm.controls['product_category'].touched)"  class="alert-danger">
                    <div *ngIf="editproductForm.controls['product_category'].errors.required">  
                      Product Catagory is required.  
                    </div>  
                  </div>

                  <div class="form-group">  
                    <label for="product_units_in_stock"class="col-md-4"> Product Units in Stock</label>  
                    <input type="number" class="form-control" formControlName="product_units_in_stock" placeholder="Enter Product Units in stock" [(ngModel)]="product.product_units_in_stock"  #product_units_in_stock  />    
                  </div>  
                  <div *ngIf="editproductForm.controls['product_units_in_stock'].invalid && (editproductForm.controls['product_units_in_stock'].dirty || editproductForm.controls['product_units_in_stock'].touched)"  class="alert-danger">
                    <div *ngIf="editproductForm.controls['product_units_in_stock'].errors.required">  
                      Product Units in Stock is required.  
                    </div>  
                  </div>
             
                  <div class="form-group">  
                    <label for="product_price"class="col-md-4"> Product Price</label>  
                    <input type="text" class="form-control" formControlName="product_price" placeholder="Enter Product Price" [(ngModel)]="product.product_price"  #product_price/> <br/>
                    <img [src]="url" height="200"> <br/>   
                  </div>  
                  <div *ngIf="editproductForm.controls['product_price'].invalid && (editproductForm.controls['product_price'].dirty || editproductForm.controls['product_price'].touched)"  class="alert-danger">
                    <div *ngIf="editproductForm.controls['product_price'].errors.required">  
                      Product Price is required.  
                    </div>  
                  </div>

                  <div class="form-group">
                    <label class="col-md-4">Product Image</label>
                    <input type="file" class="form-control-file" accept="image/*" formControlName="product_image_mine" (change)="onSelectFile($event)" [(ngModel)]="product.product_image_mine"  #product_image_mine/>  
                    </div>
                  <div *ngIf="editproductForm.controls['product_image_mine'].invalid && (editproductForm.controls['product_image_mine'].dirty || editproductForm.controls['product_image_mine'].touched)"  class="alert-danger">
                    <div *ngIf="editproductForm.controls['product_image_mine'].errors.required">  
                      Product Image is required.  
                    </div>  
                  </div>
                  <div class="form-group">  
                    <button type="submit" class="btn btn-outline-primary"  [disabled]="editproductForm.pristine || editproductForm.invalid" (click)=" UpdateProduct(product_name.value,product_description.value,product_category.value,product_units_in_stock.value,product_price.value,product_image_mine.value,1)">Submit</button> 
                    </div> 
                    
        </form>
        </div>
</div>

